/* Overview Grid */

.artwork {
    box-sizing: border-box;
    width: 100%;
    max-width: calc(33.33% - 15px);
    object-fit: contain;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

figure {
    margin: 0;
}

figure img {
   
}

figcaption {
    font-family: times;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;;
}

figure figcaption:nth-of-type(2) {
    margin-top: 0px;
}


.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 0 20px;
    gap: 20px;
    padding-bottom: 40px;

}

.artwork h3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0 0 50px 0;
}

@media screen and (max-width: 1000px) {
    .overview {
        margin-left: 0;  
    }

    .artwork {
        max-width: calc(50% - 15px);
    }

}

@media screen and (max-width: 600px) {
    .overview {
        display: flex;
        flex-direction: column;
    }
    
    .artwork {
        max-width: 100%;
    }
}